@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  nav {
    width: 100%;
    height: 5rem;
    background: #ffffff;

    background: linear-gradient(
      207deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(83, 191, 237, 1) 28%,
      rgba(221, 121, 224, 1) 70%,
      rgba(255, 255, 255, 1) 100%
    );
    box-shadow: 1px 1px 20px 5px rgb(89, 103, 235);
    display: flex;

    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 999;
    font-size: 1rem;
    font-weight: 500;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav li:hover {
    color: #e75252;
    margin-top: 0.1rem;
  }
}

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(
    60deg,
    rgb(35, 24, 185) 0%,
    rgb(67, 90, 221) 100%
  );
  color: rgb(201, 152, 152);
  width: 100%;
}
.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.innerHeader {
  height: 7vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  h1 {
    font-size: 24px;
  }
}
